.education {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;

    .header {
        width: 100%;
        margin-bottom: 2%;

        h1 {
            color: #7E57C2;
            text-align: center;
        }
    }

    .items {
        .item {
            padding: 1% 0;

            h3 {
                span {
                    font-weight: normal;
                }
            }
        }
    }
}