.repositories {
    display: flex;
    padding: 5% 10%;
    justify-content: center;
    flex-direction: column;

    .header {
        width: 100%;
        margin-bottom: 2%;

        h1 {
            color: #7E57C2;
            text-align: center;
        }
    }

    .items {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

        .item {
            width: 30%;
            padding: 2%;
            margin: 2% 0;
            border: 1px solid var(--ifm-color-gray-400);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

            h3 {
                color: #7E57C2;
                font-weight: bold;
            }
        }
    }
}